body
{
font-family: Georgia, 'Times New Roman', Times, serif;
background-color: #F3E3C3;
text-align: center;
}

header
{
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
}

nav
{
display: flex;
flex-direction: column;
gap: 5px;
font-size: small;
}

.logo
{
width: 100px;
height: 65px;
}

.bio
{
    position: relative;
    background-color: whitesmoke;
    padding: 20px;
    margin: 50px;
    border-radius: 5px;
    letter-spacing: 1px;
    border-color: #2A8A8A;
    border-style: groove;
}

.bio-pic
{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    position: absolute;
    top: -30px;
    left: 50%;
}