figcaption {
  font-size: 10px;
}

img.item-pic {
  border-radius: 5px;
}

section {
  line-height: 35px;
}

span {
  font-weight: bold;
}

button {
  display: flex;
  padding: 20px;
  margin: 20px;
}

.button-cart {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  background-color: #2a8a8a;
  border-color: #2a8a8a;
  cursor: pointer;
  color: whitesmoke;
  border-radius: 5px;
}

.button-wishlist {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  background-color: #d46a3e;
  border-color: #d46a3e;
  cursor: pointer;
  color: whitesmoke;
  border-radius: 5px;
}

@media screen and (min-width: 900px) {
  figcaption,
  ul {
    display: none;
  }

  .item-pic {
    display: flex;
    justify-items: flex-start;
  }
  .back-to-shop {
    display: flex;
    justify-items: flex-start;
  }

  .product-info {
    display: flex;
    margin-left: 600px;
    margin-top: -300px;
  }
  .buttons {
    display: flex;
    justify-content: center;
    
  }

}
